!!!5
%html
  %head
    %title PUG
    %link(rel='icon' type='image/png' href='favicon.png')
    %link(rel='stylesheet' href='/application.css' media='all' type='text/css')
    %script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' type='text/javascript')
    %script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js' type='text/javascript')
    %script(src='application.js' type='text/javascript')
    %script#log(type='text/html')
      %tr
        %td.created_at <%= created_at %>
        %td.ip <%= ip %>
        %td.user-id <%= user_id %>
        %td.http-verb <%= http_verb %>
        %td.action <%= action %>
        %td.status-code <%= status_code %>
        %td.error <%= error %>
  %body
    %section#wrapper
      %section#header
        %h3
          our
        %h1
          PUG
        %h3
          is watching
        %h2
          you
      %section#filters
        %form
          %select(name='node')
            - @nodes.each do |node|
              %option(value='#{node.id}')= node.name
          %input(name='from' placeholder='From (dd/mm/yyyy)')
          %input(name='to' placeholder='To (dd/mm/yyyy)')
          %input(name='ip' placeholder='Origin IP')
          %input(name='user_id' placeholder='User ID')
          %select(name='http_verb')
            %option(value='' selected) HTTP Verb
            %option(value='GET') GET
            %option(value='POST') POST
            %option(value='PUT') PUT
            %option(value='DELETE') DELETE
          %input(name='action' placeholder='Action')
          %select(name='status_code')
            %option(value='' selected) Status Code
            %option(value='200') 200
            %option(value='400') 404
            %option(value='500') 500
          %input(type='hidden' name='page' value='0')
          %input(type='hidden' name='page_count' value='')
      %section#nav-left
      %section#logs
        %table
          %thead
            %tr
              %th When
              %th IP
              %th User
              %th Method
              %th Action
              %th Status
              %th Error
          %tbody
      %section#nav-right