html
  height: 100%

body
  height: 100%

section#wrapper
  min-height: 100%
  height: auto
  width: 978px
  margin: 0 auto

section#header
  +grid(12, true)
  padding: 10px
  height: 80px

section#filters
  +grid(12, true)
  height: 46px
  margin-bottom: 15px
  form
    margin: 11px 68px
  input
    width: 95px
    height: 20px
    background-color: $marrom-chamativo
    border: solid 1px $marrom-claro
    color: $marrom-claro
    margin-right: 5px
    &::-webkit-input-placeholder
      color: $marrom-claro
  select
    width: 95px
    margin-right: 5px
    height: 20px
    background-color: $marrom-chamativo
    border: solid 1px $marrom-claro
    color: $marrom-claro

section#nav-left
  cursor: pointer
  min-height: 400px
  padding-left: 0px
  background: url(/arrow-left.png) no-repeat center center
  +grid(1, true)

section#nav-right
  cursor: pointer
  min-height: 400px
  background: url(/arrow-right.png) no-repeat center center
  +grid(1)

section#logs
  +grid(10)
  table
    border: $marrom-claro solid 1px
    width: 100%
    tr th
      font-weight: bold
      background-color: lighten($marrom-escuro, 4%)
      padding: 5px
      border: $marrom-claro solid 1px
    tr td
      padding: 5px
      &.ip
        text-align: right
        width: 100px
      &.user-id
        text-align: right
        width: 10px
      &.http-verb
        text-align: center
        width: 70px
      &.status-code
        text-align: center
        width: 70px
    tr:nth-child(even)
      background-color: lighten($marrom-escuro, 4%)