body
  color: $marrom-claro-chamativo
  background-color: $marrom-muito-escuro

section#header
  h1
    display: inline
    margin-left: 8px
    font-size: 65px
  h3
    display: inline
    font-style: italic
    font-size: 18px
  h2
    display: inline
    margin-left: 8px
    font-size: 28px

section#wrapper
  border-left: 1px solid $marrom-claro
  border-right: 1px solid $marrom-claro
  background: $marrom-escuro url(/bg.png) no-repeat bottom center

section#filters
  border-top: 1px solid $marrom-claro
  border-bottom: 1px solid $marrom-claro
  background-color: $marrom-chamativo